<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - LifeFInances</title>
    <!--https://colorhunt.co/palette/f0ebe3e4dccf7d9d9c576f72-->
    <style>
        .links {
            padding: 10px;
            margin: 5px;
            background-color: #F0EBE3
        }
        nav a {
            color: #576F72;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        ul {
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">LifeFInances</a>
        <a href="https://github.com/chriskelly/LifeFinances">GitHub</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {# alert class works with bootstrap #}
            <div class="alert alert-info" role="alert">{{ message }}</div> 
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    {% block style_script %} {% endblock %}
</body>
</html>