name: Main CI

on:
  push:
  pull_request:

jobs:
  docker_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create user config
        run: cp tests/sample_configs/full_config.yml config.yml

      - name: Run Tests (with retry on Docker Hub errors)
        uses: nick-fields/retry-action@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_on: error
          command: make
